
.termsAndConditions {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 50px;
}

.termsAndConditions h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.termsAndConditions h2 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #007BFF;
  /* A subtle underline for headers */
  padding-bottom: 5px;
}

.termsAndConditions h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.termsAndConditions p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.termsAndConditions ul {
  padding-left: 20px;
  list-style-type: disc;
}

.termsAndConditions ul li {
  margin-bottom: 10px;
}

.termsAndConditions a {
  color: #007BFF;
  text-decoration: none;
}

.termsAndConditions a:hover {
  text-decoration: underline;
}

.termsAndConditions strong {
  font-weight: bold;
}

.termsAndConditions {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Query for mobile devices */
@media (max-width: 600px) {
  .termsAndConditions {
    padding: 10px;
  }

  .termsAndConditions h1 {
    font-size: 2rem;
  }

  .termsAndConditions h2 {
    font-size: 1.75rem;
  }

  .termsAndConditions h3 {
    font-size: 1.25rem;
  }

  .termsAndConditions p,
  .termsAndConditions ul li {
    font-size: 0.9rem;
  }
}
