@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

:root {
  --bg: #fff;
  --blue: #007bff;
  --white: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--bg);
}

.logoLink {
  display: inline-block;
}

.logo {
  height: 40px;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1.5rem;
}

/* New Button Style */
.navLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.navLink:hover {
  background-color: #000;
  color: #fff;
}

.buttonText {
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

/* Hiding unnecessary elements from the previous design */
.circle,
.icon,
.arrow {
  display: none;
}

/* Mobile menu icon */
.menuIcon {
  display: none;
}

@media (max-width: 768px) {
  .navList {
    display: none;
    flex-direction: column;
    background-color: var(--bg);
    position: absolute;
    top: 60px;
    right: 0px;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .showMenu {
    display: flex;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .menuIcon .fa-bars {
    font-size: 1.5rem;
    color: var(--blue);
  }

  .navItem {
    margin: 15px 30px;
  }
}
