@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

:root {
  --bg: #fff;
  --blue: #007bff;
  --white: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);
  padding: 10px 20px;
  background-color: var(--white);
}

.logoLink {
  display: inline-block;
}

.logo {
  height: 40px;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1.5rem;
}

.navLink {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learnMore {
  width: 10rem;
  height: auto;
}

.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: #1D2327;
  border-radius: 1rem;
}

.icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--white);
}

.arrow {
  left: 0.5rem;
  width: 0.875rem;
  height: 0.1rem;
  background: none;
}

.arrow::before {
  position: absolute;
  content: '';
  top: -0.2rem;
  right: 0.05rem;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
  transform: rotate(45deg);
}

.buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0;
  margin: 0 0 0 1.25rem;
  color: #1D2327;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.navLink:hover .circle {
  width: 100%;
}

.navLink:hover .icon.arrow {
  background: var(--white);
  transform: translate(1rem, 0);
}

.navLink:hover .buttonText {
  color: var(--white);
}

.menuIcon {
  display: none
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navList {
    display: none;
    flex-direction: column;
    background-color: var(--white);
    /* Background color for the dropdown */
    position: absolute;
    /* Position it absolutely */
    top: 60px;
    /* Adjust this value to position below the navbar */
    right: 20px;
    /* Align it to the right */
    width: 100%;
    /* Adjust the width as needed */
    border-radius: 0;
    /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .showMenu {
    display: flex;
    /* Show the nav list when the menu is open */
  }

  .menuIcon {
    display: block;
    /* Show the menu icon */
    cursor: pointer;
  }

  .menuIcon .fa-bars {
    font-size: 1.5rem;
    /* Adjust icon size */
    color: var(--blue);
  }

    .navItem {
      margin: 15px 30px;
      /* Add vertical margin to nav items */
    }
}
