.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 0px;
  background-color: var(--white);

}

.projects {
  display: flex;
  overflow-x: scroll; /* Horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  gap: 30px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
  scroll-behavior: smooth; /* Smooth scrolling */
  position: relative;
  height: auto;
  padding: 25px 0px;

  scrollbar-width: auto; /* Firefox: auto width */
  scrollbar-color: #888 #e3e3e3; /* Firefox: scrollbar color */
}

.title {
  font-family: var(--principal);
  margin-bottom: 10px;
  font-size: 2rem;
  margin-left: 20px;
}

.project:last-child {
  margin-right: 20px;
}

.project:first-child {
  margin-left: 20px;
}



.projects {
  &::-webkit-scrollbar:horizontal {
    height: 20px; /* Adjust height for horizontal scrollbar */
  }

  /* Horizontal Scrollbar Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Horizontal Scrollbar Handle */
  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Horizontal Scrollbar Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}


/* HomeProjects.module.css */

/* Container for all projects */
.projects {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

/* Each project item */
.project {
  min-width: 400px; /* Adjust for non-mobile */
  scroll-snap-align: center; /* Snap each project to the center */
  margin: 0 10px; /* Add spacing between items */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .project {
    min-width: 100%; /* Make each project occupy full width of the container */
  }
}
