:root {
  --sec: "Space Grotesk";
  --principal: Orbitron;
  --bg: #f3f8fa;
  --white: #fff;
  --blue: #2877CE;
  --grey: #7D8690;
}

body {
  font-family: var(--sec), sans-serif;
  background-color: var(--bg);
  padding: 0px;
  margin: 0px;
}
