.teamSection {
    padding: 40px 20px;
    text-align: center;
}

.teamTitle {
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: unset;
}


.teamContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}


/* Responsive Design */
@media (max-width: 768px) {
    .teamContainer {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 480px) {
    .teamTitle {
        font-size: 28px;
    }
}
